---
http_interactions:
- request:
    method: get
    uri: http://api.kag2d.com/player/prostosuper/avatar
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.kag2d.com/player/prostosuper/avatar
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 26 Apr 2012 21:33:16 GMT
- request:
    method: get
    uri: https://api.kag2d.com/player/prostosuper/avatar
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"small": "https://forum.kag2d.com/data/avatars/s/0/231.jpg", "large":
        "https://forum.kag2d.com/data/avatars/l/0/231.jpg", "medium": "https://forum.kag2d.com/data/avatars/m/0/231.jpg"}'
  recorded_at: Thu, 26 Apr 2012 21:33:17 GMT
- request:
    method: get
    uri: http://api.kag2d.com/player/foobarbazbaz/avatar
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.kag2d.com/player/foobarbazbaz/avatar
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 26 Apr 2012 21:33:20 GMT
- request:
    method: get
    uri: https://api.kag2d.com/player/foobarbazbaz/avatar
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"statusMessage": "Player not found"}'
  recorded_at: Thu, 26 Apr 2012 21:33:21 GMT
recorded_with: VCR 2.1.1
