---
http_interactions:
- request:
    method: get
    uri: http://api.kag2d.com/player/tiffou/info
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.kag2d.com/player/tiffou/info
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 27 Apr 2012 09:24:07 GMT
- request:
    method: get
    uri: https://api.kag2d.com/player/tiffou/info
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"username": "tiffou", "banExpiration": "2022-03-02 09:09:53", "gold":
        true, "banned": true, "role": 0, "banReason": "cheating - speedhack.", "active":
        true}'
  recorded_at: Fri, 27 Apr 2012 09:24:07 GMT
recorded_with: VCR 2.1.1
