---
http_interactions:
- request:
    method: get
    uri: http://api.kag2d.com/player/prostosuper/info
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.kag2d.com/player/prostosuper/info
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 25 Apr 2012 14:43:07 GMT
- request:
    method: get
    uri: https://api.kag2d.com/player/prostosuper/info
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"active": true, "username": "prostosuper", "banned": false, "role":
        0, "gold": true}'
  recorded_at: Wed, 25 Apr 2012 14:43:08 GMT
recorded_with: VCR 2.1.1
