---
http_interactions:
- request:
    method: get
    uri: http://api.kag2d.com/player/flieslikeabrick/info
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/json
      Location:
      - https://api.kag2d.com/player/flieslikeabrick/info
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Thu, 26 Apr 2012 12:26:46 GMT
- request:
    method: get
    uri: https://api.kag2d.com/player/flieslikeabrick/info
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"active": true, "username": "FliesLikeABrick", "banned": false,
        "role": 4, "gold": true}'
  recorded_at: Thu, 26 Apr 2012 12:26:47 GMT
recorded_with: VCR 2.1.1
